.portfolio{
    position: relative;
    background-color: #1E1E1E;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-flow:column;

    padding: 0 5vw;

    z-index: 3;
}

  
  .container{
    position: relative;
  }
  
  .container .card{
    position: relative;
    width: 320px;
    height: 450px;
    background: #2b2b2b;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .container .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(93, 63, 211);
    clip-path: circle(150px at 80% 20%);
    transition: 0.4s ease-in-out;
  }
  
  .container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
  }
  
  .container .card:after{
    content: ' <>';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(93, 63, 211, 0.09)
  }
  
  .container .card .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 200px;
    transition: 0.4s;
  }
  
  .container .card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
      
  }
  
  .container .card .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
  }
  
  .container .card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 0.8s;
    z-index: 10;
  }
  
  .container .card:hover .contentBx{
    height: 230px;
  }
  
  .container .card .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
  }
  
  .container .card .contentBx .size, .container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.4s;opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .container .card:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s;
  }
  
  .container .card:hover .contentBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
  }
  
  .container .card .contentBx .size h3, .container .card .contentBx .color h3{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  
  .container .card .contentBx .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.4s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .container .card .contentBx .size span:hover{
    background: rgb(93, 63, 211);
  }
  
  .container .card .contentBx .color span{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .container .card .contentBx .color span:nth-child(2){
    background: #9bdc28;
  }
  
  .container .card .contentBx .color span:nth-child(3){
    background: #03a9f4;
  }
  
  .container .card .contentBx .color span:nth-child(4){
    background: #e91e63;
  }
  
  .container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.4s;
    margin: 0.5rem 0.25rem ;
  }
  
  .container .card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.6s;
    margin: 1rem 0.5rem;
    
  }

  .tech-mini{
    width: 2rem;
    margin: 1rem 0.25rem;
  }

  .contentBx h3{
    font-size: 1.5rem;
    margin: 0 0.25rem;
  }

  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-color: transparent;
    background-size: cover;
    width: 320px;
    height: 450px;
    border-radius: 20px;
  }
  
  .swiper-3d .swiper-cube-shadow, .swiper-3d .swiper-slide, .swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top, .swiper-3d .swiper-wrapper {
    border-radius: 20px;
}

.bkg-detail{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 0;
  width: 100%;
}

.bkg-detail span{
  display: none;
  position: absolute;
  font-size: 22rem;
  color: rgba(93, 63, 211, 0.09);
  font-weight:900;
  height: 200px;
  top: 250px;
  left: -100px;
}

.bkg-detail h2{
  font-size: 5rem;
}
.swiper {
  width: 100%;
  margin: 0;
}

@media (min-width: 820px) {
  .bkg-detail span{
    display: inline;
}
}


@media (min-width: 1600px) {
  .portfolio{
    flex-flow: row;
  }
  .swiper{
    width: 70%;
  }
  .bkg-detail{
    width: 30%;
  }
  .bkg-detail h2{
    padding-bottom: 15rem;
  }

  
  .bkg-detail span{
    font-weight:900;
    height: 200px;
    top: 250px;
    left: 100px;
  }
}

@media (min-width: 1654px) {
  .bkg-detail{
    width: 33vw;
  }

  .bkg-detail h2{
    padding-bottom: 10rem;
  }

  .swiper {
    width: 50vw;
    margin: 0;
  }

  .bkg-detail span{
    top: 300px;
    left: 160px;
  }

 }